<template>
  <div>
    <base-modal :show="!!error" title="An error ocured" @close="handleError">
			<p>{{ error }}</p>
		</base-modal>

    <div class="container pt-3">
      <entry-item v-for="e in entries" :key="e.id" :entry="e.entry" :group="e.group" :time="e.time" :notes="null" :cron="e.cron" :reminder="e.reminder"></entry-item>
    </div>

    <floating-button @command-clicked="commandClicked"></floating-button>

    <base-modal :show="showDialog" @close="closeModal" title="Add New Entry" fixed>
      <entry-form @form-data="addEntry" @cancel="closeModal"></entry-form>
      <template v-slot:actions>
        <div></div>
      </template>
    </base-modal>

    <base-modal :show="showGroups" @close="closeModal" title="Group List">
      <groups-form></groups-form>
    </base-modal>
  </div>
</template>

<script>
import EntryForm from '../components/EntryForm.vue';
import EntryItem from '../components/EntryItem.vue';
import FloatingButton from '../components/FloatingButton.vue';
import GroupsForm from '../components/GroupsForm.vue';

export default {
  components: { FloatingButton, EntryForm, EntryItem, GroupsForm },
  name: 'Home',
  data() {
    return {
      showDialog: false,
      isLoading: false,
			error: null,
      showGroups: false
    };
  },
  computed: {
		entries() {
      return this.$store.getters['entries/entries'];
		},
		hasRequests() {
			return this.$store.getters['entries/hasEntries'];
		}
	},
  methods: {
		commandClicked(btn) {
      switch (btn) {
        case 'new-entry':
          this.showDialog = true;
          break;
        
        case 'add-group':
          this.showGroups = true;
          break;
      
        default:
          break;
      }
		},
    closeModal() {
      this.showDialog = false;
      this.showGroups = false;
    },
    addEntry(data) {
      console.log({data});
      this.showDialog = false;
    },
    async loadEntries() {
      this.isLoading = true;
      try {
				await this.$store.dispatch('entries/loadEntries');
			} catch (error) {
				this.error = error.message || 'Unable to fetch requests!';
			}
			this.isLoading = false;
    },
		handleError() {
			this.isLoading = false;
		},
    onGroupAdded(group) {
      console.log(group);
      this.showGroups = false;
    }
	},
  mounted() {
    this.loadEntries();
  }
}
</script>
