<template>
  <input
    type="text"
    class="form-control"
    :placeholder="placeholder"
    ref="field"
    @click="onClick"
    @keyup="onKeydown"
    @input="onInput"
  />
</template>

<script>
import bootstrap from 'bootstrap';

export default {
  props: {
    placeholder: {
      type: String,
      default: "ex. Health",
      required: false,
    },
  },
  data() {
    return {
      options: {
        treshold: 2,
        maximumItems: 5,
        highlightTyped: true,
        highlightClass: "text-primary",
        label: "label",
        value: "value",
        showValue: false,
      },
    };
  },
  methods: {
    _constructor(field, options) {
      const DEFAULTS = {
        treshold: 2,
        maximumItems: 5,
        highlightTyped: true,
        highlightClass: "text-primary",
        label: "label",
        value: "value",
        showValue: false,
      };
      this.field = field;
      this.options = Object.assign({}, DEFAULTS, options);
      this.dropdown = null;

      field.parentNode.classList.add("dropdown");
      field.setAttribute("data-bs-toggle", "dropdown");
      field.classList.add("dropdown-toggle");

      const dropdown = this.ce(`<div class="dropdown-menu"></div>`);
      if (this.options.dropdownClass)
        dropdown.classList.add(this.options.dropdownClass);

      this.insertAfter(dropdown, field);

      this.dropdown = new bootstrap.Dropdown(
        field,
        this.options.dropdownOptions
      );
    },
    setData(data) {
      this.options.data = data;
      this.renderIfNeeded();
    },
    renderIfNeeded() {
      if (this.createItems() > 0) this.dropdown.show();
      else this.field.click();
    },
    createItem(lookup, item) {
      let label;
      if (this.options.highlightTyped) {
        const idx = item.label.toLowerCase().indexOf(lookup.toLowerCase());
        const className = Array.isArray(this.options.highlightClass)
          ? this.options.highlightClass.join(" ")
          : typeof this.options.highlightClass == "string"
          ? this.options.highlightClass
          : "";
        label =
          item.label.substring(0, idx) +
          `<span class="${className}">${item.label.substring(
            idx,
            idx + lookup.length
          )}</span>` +
          item.label.substring(idx + lookup.length, item.label.length);
      } else {
        label = item.label;
      }

      if (this.options.showValue) {
        label += ` ${item.value}`;
      }

      return this.ce(
        `<button type="button" class="dropdown-item" data-label="${item.label}" data-value="${item.value}">${label}</button>`
      );
    },
    createItems() {
      const lookup = this.field.value;
      if (lookup.length < this.options.treshold) {
        this.dropdown.hide();
        return 0;
      }

      const items = this.field.nextSibling;
      items.innerHTML = "";

      const keys = Object.keys(this.options.data);

      let count = 0;
      for (let i = 0; i < keys.length; i++) {
        const key = keys[i];
        const entry = this.options.data[key];
        const item = {
          label: this.options.label ? entry[this.options.label] : key,
          value: this.options.value ? entry[this.options.value] : entry,
        };

        if (item.label.toLowerCase().indexOf(lookup.toLowerCase()) >= 0) {
          items.appendChild(this.createItem(lookup, item));
          if (
            this.options.maximumItems > 0 &&
            ++count >= this.options.maximumItems
          )
            break;
        }
      }

      this.field.nextSibling
        .querySelectorAll(".dropdown-item")
        .forEach((item) => {
          item.addEventListener("click", (e) => {
            let dataLabel = e.target.getAttribute("data-label");
            let dataValue = e.target.getAttribute("data-value");

            this.field.value = dataLabel;

            if (this.options.onSelectItem) {
              this.options.onSelectItem({
                value: dataValue,
                label: dataLabel,
              });
            }

            this.dropdown.hide();
          });
        });

      return items.childNodes.length;
    },
    ce(html) {
      let div = document.createElement("div");
      div.innerHTML = html;
      return div.firstChild;
    },
    insertAfter(elem, refElem) {
      return refElem.parentNode.insertBefore(elem, refElem.nextSibling);
    },

    // Events
    onClick(e) {
      if (this.createItems() === 0) {
        e.stopPropagation();
        this.dropdown.hide();
      }
    },
    onKeydown(e) {
      if (e.keyCode === 27) {
        this.dropdown.hide();
        return;
      }
      if (e.keyCode === 40) {
        this.dropdown._menu.children[0]?.focus();
        return;
      }
    },
    onInput() {
      if (this.options.onInput) this.options.onInput(this.field.value);
      this.renderIfNeeded();
    },
  },
  created() {
    const field = this.$refs.field;
    const DEFAULTS = {
      treshold: 2,
      maximumItems: 5,
      highlightTyped: true,
      highlightClass: "text-primary",
      label: "label",
      value: "value",
      showValue: false,
    };
    this._constructor(field, DEFAULTS);
  },
  mounted() {
    const groups = this.$store.getters["groups/groups"];
    var data = [];
    groups.forEach((group) => {
      data.push({
        label: group.name,
        value: group.id,
      });
    });
    this.setData(data);
  },
};
</script>

<style>
</style>