<template>
  <form @submit.prevent="onSubmit">
    <div v-if="hasErrors" class="alert alert-danger alert-dismissible fade show" role="alert">
      <p><strong>Entry Errors:</strong></p>
      <ul>
        <li v-for="er in errors" :key="er">{{ er }}</li>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="mb-3">
      <label class="form-label">Entry</label>
      <input type="text" class="form-control" placeholder="ex. Last blood donation" v-model.trim="entry" ref="entryInput" required/>
      <div class="invalid-feedback">Looks good!</div>
    </div>

    <div class="mb-3">
      <label class="form-label">Date and Time</label>
      <!-- /////////////////////////////////////////////////// -->
      <v-date-picker v-model="timeFormated" mode="dateTime" :update-on-input="false">
        <template v-slot="{ inputValue, inputEvents }">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Date and Time" aria-label="Date and Time" aria-describedby="last-time" v-on="inputEvents" :value="inputValue" readonly>
            <span class="input-group-text" id="last-time"><fa-icon icon="calendar-alt"/></span>
          </div>
        </template>
      </v-date-picker>
      <!-- /////////////////////////////////////////////////// -->
    </div>

    <div class="mb-3">
      <label class="form-label">Group</label>
      <input type="text" class="form-control" placeholder="ex. Health" v-model.trim="group" ref="group-input"/>
      <autocomplete />
    </div>

    <div class="mb-3">
      <label class="form-label">Notes</label>
      <textarea v-model.trim="notes" class="form-control" placeholder="ex. Public Blood Bank"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Remind me</label>
      <select class="form-select" aria-label="Remind me" v-model="remindMeMode">
        <option selected value="n">Don't remind me</option>
        <option value="w">After a week</option>
        <option value="m">After a month</option>
        <option value="y">After a year</option>
        <option value="d">on...</option>
      </select>

      <div v-if="remindMeMode === 'd'" class="mt-2">
        <v-date-picker v-model="remindMeFormated" mode="dateTime">
          <template v-slot="{ inputValue, inputEvents }">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Date and Time" aria-label="Date and Time" aria-describedby="last-time" v-on="inputEvents" :value="inputValue" readonly>
              <span class="input-group-text" id="last-time"><fa-icon icon="calendar-alt"/></span>
            </div>
          </template>
        </v-date-picker>
      </div>
    </div>

    <menu>
      <button type="button" class="btn btn-secondary me-2" @click="closeModal">Close</button>
      <button type="submit" class="btn btn-info text-light">Submit</button>
    </menu>
  </form>
</template>

<script>
import moment from "moment";
import Autocomplete from './Autocomplete.vue';
const FORMAT = 'YYYY-MM-DD h:mm A';

export default {
    emits: ['form-data', 'cancel'],
    components: {Autocomplete},
    data() {
        return {
            errors: [],
            entry: null,
            time: moment(),
            group: null,
            notes: null,
            remindMe: moment().add(7, 'days'),
            remindMeMode: 'w',
            query: ''
        };
    },
    methods: {
      async onSubmit() {
        this.errors = [];
        if (this.entry === null) this.errors.push('Entry must has a value!');
        if (this.time === null || this.timeFormated === '') this.errors.push('Entry Time must has a value!');
        if (this.remindMeMode !== 'n' && (this.remindMeFormated === null || this.remindMeFormated === '')) this.errors.push('Remind Time must has a value!');
        if (this.errors.length > 0) return;

        var remindMe = this.remindMeFormated;
        var group = this.group;

        if (this.remindMeMode === 'n') remindMe = null;
        if (!group) group = 'default';

        const data = {
          entry: this.entry,
          time: this.timeFormated,
          group: group,
          notes: this.notes,
          remindMe: remindMe
        };

        await this.$store.dispatch('entries/addEntry', data);
        this.$emit('form-data', data);
      },
      closeModal() {
        this.$emit('cancel');
      },
      changeRemindMe() {
        this.$refs.remindMeInput.style.display = "none";

        switch (this.remindMeMode) {
          case 'w':
            this.remindMe.add(7, 'days');
            break;
          
          case 'm':
            this.remindMe.add(1, 'months');
            break;

          case 'y':
            this.remindMe.add(1, 'years');
            break;

          case 'd':
            this.$refs.remindMeInput.style.display = "block";
            this.remindMe.add(7, 'days');
            break;
        
          default:
            this.remindMe.add(7, 'days');
            break;
        }
      },
      onDayClick(day) {
        this.showCal = !this.showCal;
        console.log(day);
      }
    },
    mounted() {
      this.$refs.entryInput.focus();
    },
    computed: {
      timeFormated: {
        get() {
          if(this.time === null) return null;
          return this.time.format(FORMAT);
        },
        set(value) {
          if (!value) return null;
          this.time = moment(value, FORMAT);
        }
      },
      remindMeFormated: {
        get() {
          if(this.remindMe === null) return null;
          return this.remindMe.format(FORMAT);
        },
        set(value) {
          if (!value) return null;
          this.remindMe = moment(value, FORMAT);
        }
      },
      hasErrors() {
        return this.errors.length > 0;
      },
      groups() {
        return this.$store.getters['groups/groups'];
      }
    }
};
</script>

<style>
menu {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	margin: 0;
}
#last-time {
  cursor: pointer;
}
</style>