<template>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title" :class="{ done: cron < 0 }">{{ entry }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ group }}</h6>
      <h6 :class="{ done: cron < 0 }">Reminder: {{ reminder }}</h6>
      <p class="card-text">{{ notes }}</p>
      <!-- <a href="#" class="card-link">Edit</a> |<h6 class="d-inline"><span class="badge bg-light text-dark">{{ cron }}</span></h6> -->
      <div class="btn-group btn-group-sm" role="group" aria-label="Commands">
        <button type="button" class="btn btn-light"><fa-icon icon="pencil-alt"/></button>
        <button v-if="cron > 0" type="button" class="btn btn-light"><fa-icon icon="check"/></button>
        <button v-else type="button" class="btn btn-light"><fa-icon icon="sync-alt"/></button>
        <button type="button" class="btn btn-danger"><fa-icon icon="trash-alt"/></button>
      </div>

      <div class="float-end animate__animated animate__flash animate__slower animate__infinite" data-bs-toggle="tooltip" data-bs-placement="top" :title="reminder">
        <h4 v-if="cron > 0">
          <span class="badge bg-light text-secondary"><fa-icon icon="stopwatch"/></span>
        </h4>
      </div>
    </div>
  </div>
</template>

<script>
import { faSyncAlt } from '@fortawesome/free-solid-svg-icons';
import { library } from '@fortawesome/fontawesome-svg-core';

export default {
    data() {
      return {
        seconds: 0,
        cronRunning: false
      };
    },
    props: ['entry', 'group', 'time', 'notes', 'reminder', 'cron'],
    methods: {
      timeout() {
        alert('Done');
      }
    },
    created() {
      library.add(faSyncAlt);

      if (this.cron > 0) {
        setTimeout(() => {
          this.timeout();
        }, this.cron);
      }
    }
};
</script>

<style scoped>
.done {
  text-decoration: line-through;
}
</style>