<template>
  <div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Group name" aria-label="Group name" aria-describedby="group-input" v-model="group" @keyup.enter="addGroup">
        <span class="input-group-text" id="group-input" @click="addGroup"><fa-icon icon="plus-circle"/></span>
      </div>
      <div v-if="loading" class="spinner-border text-primary text-center" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div v-else>
          <table v-if="hasGroups" class="table table-hover">
              <tbody>
                  <tr v-for="group in groups" :key="group">
                        <td>{{ group.name }}</td>
                        <td><button type="button" class="btn-close float-end" aria-label="Delete" @click="deleteGroup(group.id)"></button></td>
                    </tr>
              </tbody>  
          </table>
        <p v-else class="h6 text-center">No groups found!</p>
      </div>
  </div>
</template>

<script>
import { faPlusCircle } from '@fortawesome/free-solid-svg-icons';
import { library } from '@fortawesome/fontawesome-svg-core';

export default {
    data() {
        return {
            group: '',
            loading: false
        };
    },
    computed: {
        hasGroups() {
          return this.$store.getters['groups/hasGroups'];
        },
        groups() {
          return this.$store.getters['groups/groups'];
        }
    },
    created() {
        library.add(faPlusCircle);
    },
    methods: {
        async addGroup() {
            if(this.group === '') return;
            await this.$store.dispatch('groups/addGroup', { group: this.group });
            this.group = '';
        },
        async deleteGroup(id) {
            await this.$store.dispatch('groups/deleteGroup', { id: id });
            this.loadGrous();
        },
        async loadGrous() {
            this.loading = true;
            await this.$store.dispatch('groups/loadGroups');
            this.loading = false;
        }
    },
    async mounted() {
        this.loadGrous();
    }
}
</script>

<style scoped>
#group-input{
    cursor: pointer;
}
</style>