<template>
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-primary" @click="commandClicked('1')">Command 1</button>
    <button type="button" class="btn btn-primary" @click="commandClicked('2')">Command 2</button>
    <button type="button" class="btn btn-primary" @click="commandClicked('3')">Command 3</button>
    <button type="button" class="btn btn-primary" @click="commandClicked('4')">Command 4</button>
  </div>
</template>

<script>
export default {
  emits: ["command-clicked"],
  methods: {
    commandClicked(btn) {
      this.$emit('command-clicked', btn);
    }
  }
};
</script>

<style scoped>
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
</style>