<template>
  <router-view></router-view>
</template>

<script>
export default {
  created() {
		this.$store.dispatch('autoLogin');
	},
	computed: {
		didLogout() {
			return this.$store.getters.didAutoLogout;
		}
	},
	watch: {
		didLogout(curVal, oldVal) {
			if(curVal && curVal !== oldVal) {
				this.$router.replace('/home');
			}
		}
	}
}
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}
</style>
