<template>
	<div class="container">
		<div class="align-middle text-center" v-if="isLoading">
			<base-spinner></base-spinner>
		</div>
		<div v-else class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="card login-content shadow-lg border-0">
					<div class="card-body">
						<div class="text-center">
							<img class="logo" src="https://cdn3.iconfinder.com/data/icons/galaxy-open-line-gradient-i/200/account-256.png"/>
						</div>
						<h3 class="text-logo">{{ submitLabel }}</h3>
						<br />
						<form class="text-center" @submit.prevent="submitForm">
							<input class="form-control border-0" type="email" placeholder="Email" v-model.trim="email"/>
							<br />
							<div v-if="login || signup">
								<input class="form-control border-0" type="password" placeholder="Password" v-model.trim="password"/>
								<br />
								<input v-if="signup" class="form-control border-0" type="password" placeholder="Confirm Password" v-model.trim="passwordConfirmation"/>
								<br v-if="signup" />
							</div>
							<button class="btn btn-primary btn-sm border-0" type="submit" name="submit">{{ submitLabel }}</button>
							<p v-if="login" class="forgot">
								<a @click.prevent="changeMode('forgot')" href="#">Forgot Password?</a>
							</p>
						</form>
					</div>
					<div class="nomember">
						<p v-if="login" class="text-center">
							Not a member?
							<a @click.prevent="changeMode('signup')" href="#">Create an Account</a>
						</p>
						<p v-else-if="signup" class="text-center">
							Already a member?
							<a @click.prevent="changeMode('login')" href="#">Sign in Here</a>
						</p>
						<p v-else class="text-center">
							<a @click.prevent="changeMode('login')" href="#">Sign in</a> | <a @click.prevent="changeMode('signup')" href="#">Sign Up</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			email: 'prog.hasan@gmail.com',
			password: '123456',
			passwordConfirmation: "",
			formIsValid: true,
			mode: "login",
			isLoading: false,
			error: null,
		};
	},
	computed: {
		signup() {
			return this.mode === "signup";
		},
		login() {
			return this.mode === "login";
		},
		forgotPassword() {
			return this.mode === "forgot";
		},
		submitLabel() {
			switch (this.mode) {
				case 'login': return 'Sign In';
				case 'signup': return 'Sign Up';
				case 'forgot': return 'Reset Password';
				default: return 'Sign In';
			}
		}
	},
	methods: {
		changeMode(mode) {
			this.mode = mode;
		},
		async submitForm() {
			this.formIsValid = true;

			if (this.email === '' || !this.email.includes('@') || this.password.length < 6) {
				this.formIsValid = false;
				return;
			}

			if (this.signup && this.password !== this.passwordConfirmation) {
				this.formIsValid = false;
				return;
			}

			this.isLoading = true;

			const actionPayload = {
				email: this.email,
				password: this.password,
			};

			try {
				if (this.mode === 'login') {
					await this.$store.dispatch('login', actionPayload);
				} else if (this.mode === 'signup'){
					await this.$store.dispatch('signup', actionPayload);
				}

				if (this.$route.query.redirect) {
					const redirectUrl = '/' + (this.$route.query.redirect || '/');
					this.$router.replace(redirectUrl);
				} else {
					this.$router.replace('/');
				}
			} catch (err) {
				this.error = err.message || 'Failed to authenticate, try later.';
			}

			this.isLoading = false;
		}
	},
	created() {
		const modes = ['signup', 'login', 'forgot'];
		if(modes.includes(this.$route.query.mode)) {
			this.mode = this.$route.query.mode;
		}
	}
};
</script>

<style scoped>
	@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

	body {
		background-color: #2a2c3b;
		font-family: "Lato", sans-serif;
	}

	.login-content {
		max-width: 450px;
		width: 100%;
		height: 550px;
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -200px;
		margin-top: -286px;
		border-radius: 8px;
		background: #2f3242;
	}

	.logo {
		width: 128px;
		height: 128px;
		margin: 5px;
	}

	.text-logo {
		text-align: center;
		font-weight: bold;
		font-size: 32px;
		color: white;
	}

	.form-control {
		width: 18rem;
		height: 3rem;
		left: 65px;
		position: relative;
		border-radius: 5px;
		background-color: #ccffee;
	}

	.btn {
		font-size: 22px;
		background-color: #0278ae;
		border: none;
		width: 18rem;
		height: 3rem;
		border-radius: 5px;
	}

	.btn:hover {
		background-color: blue;
	}

	.nomember {
		background-color: #e4dede;
		padding: 10px;
		padding-top: 20px;
		border-radius: 0px 0px 5px 5px;
		color: white;
		background: #2f3242;
	}

	.nomember a {
		text-decoration: none;
		color: rgb(158, 163, 240);
	}

	.forgot {
		position: relative;
		right: -20%;
	}

	.forgot a {
		text-decoration: none;
		font-size: 14px;
		color: rgb(158, 163, 240);
	}

	.copyright {
		color: white;
		padding: 15px;
	}

	/*support google chrome*/
	.form-control::-webkit-input-placeholder {
		color: #00000036;
	}

	/*support mozilla*/
	.form-control:-moz-input-placeholder {
		color: red;
	}

	/*support internet explorer*/
	.form-control:-ms-input-placeholder {
		color: red;
	}
</style>